
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
  background-image: url(../Assets/Images/bJqvjMP-dark-wood-wallpaper.jpg);
  background-repeat: no-repeat;
}